<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Great Job!
    <form method="POST" action="/add_tweet">
    <!-- Title -->
        <div>
            <label>Title*</label>
            <div>
                <input type="text"  name="title" id="titleStr" required>   
            </div>
        </div>

    <!--text-->
        <div>
            <label>text*</label>
            <div>
                <input type="text"  name="text" maxlength="280">
            </div>
        </div>

    <!-- Button -->
        <div>
            <input type="submit"/>
        </div>
    </form>
</body>
</html>